<!DOCTYPE html>
<html>
  <head>
    <title>OpenATBP - Login</title>

    <script type="text/javascript" src="js/jquery.min.js"></script>
      <link rel="stylesheet" href="css/bootstrap.min.css">
    <script defer type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  </head>
  <script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const failed = urlParams.get('failed');
    const exists = urlParams.get('exists');
    if(failed) window.alert("Login failed!");
    else if(exists) window.alert("User already exists! Please login.");
  </script>
  <body>
  	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script defer type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <div id="container">
      <form action="/auth/login" method="get">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="">
        <input type="submit" value="Submit">
      </form>
      <br/>
      <a href="/register">
        <input type="button" value="Register"/>
      </a>
      <a href="/forgot">
        <input type="button" value="Forgot Password"/>
      </a>
  </body>
</html>
