{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}
