<config>
    <StreamedAssetURL>http://127.0.0.1:8000</StreamedAssetURL>
    <Zone>Champions</Zone>
    <Debug>True</Debug>
    <DebugConsole>True</DebugConsole>
    <LobbyIP>127.0.0.1</LobbyIP>
    <LobbyPort>6778</LobbyPort>
    <LobbyPolicyPort>843</LobbyPolicyPort>
    <Language>English</Language>
    <FacadeURL>http://127.0.0.1:8000</FacadeURL>
    <ShowPromo>False</ShowPromo>
    <PresenceURL>http://www.cartoonnetwork.com/presence/</PresenceURL>
    <PresenceUpdateDelay>10000</PresenceUpdateDelay>
    <DirectPresence>False</DirectPresence>
    <DevLogin>False</DevLogin>
    <DevMaps>True</DevMaps>
    <guestModeOnly>False</guestModeOnly>
    <aspenEnabled>False</aspenEnabled>
    <PingLimit>2000</PingLimit>
</config>
