var config = {};
config.httpserver = {};
config.sockpol = {};
config.lobby = {};
config.discord = {};
config.lobbyserver = {};

config.httpserver.port = 8000;
config.httpserver.mongouri = "mongodb://admin:password@127.0.0.1:27017";
config.httpserver.url = 'http://127.0.0.1:8000';

config.sockpol.enable = true;
config.sockpol.port = 843;
config.sockpol.file = "static/crossdomain.xml";

config.lobby.port = 6778;
config.lobby.enable = false;

config.lobbyserver.enable = true;
config.lobbyserver.port = 6778;
config.lobbyserver.gameIp = '127.0.0.1';
config.lobbyserver.gamePort = '9933';

config.discord.client_id = 'client_id';
config.discord.client_secret = 'client_secret';
config.discord.oauth_url = 'https://discord.com/api/oauth2/authorize?client_id=&redirect_uri=';
config.discord.redirect_url = 'http://127.0.0.1:8000/auth/';
config.discord.backup = true;
config.discord.enable = true;

module.exports = config;
